
    <body>
        <div class="upper">
            <img src="assets/file (4).png" class="back" routerLink="/Dashboard">
                <p class="wish">Warm-Up</p>
        </div>
    <div class="content">
        <iframe width="760" height="415" id="vid" src="https://www.youtube.com/embed/9UYVecB2_08?si=Q0dlI0Ic07wuOeLB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
        <div class="text">
            <p>Warming up helps get the body ready for aerobic activity. A warmup slowly warms up the heart and blood vessel, also called cardiovascular, system. It does this by raising the body temperature and increasing blood flow to muscles. When you warm up, it also may help lower muscle soreness and lessen injury risk.
            </p>
        </div>
    </div>
</body>
<app-sidebar>

    