<app-sidebar></app-sidebar>
<body>
    <div class="upper">
        <img src="assets/file (4).png" class="back" routerLink="/view-workout">
            <p class="wish">Pull Workout</p>
    </div>

<div class="content">
<div class="left" (click)="getinfo()" ><img src="assets/file (2).png" alt="pull-pic" class="pull_pic"><h4 id="labels">Bicep Curl</h4></div>
<div class="right" (click)="getinfodead()" ><img src="assets/file (6).png" alt="pull-pic" class="pull_pic"><h4 id="labels">DeadLift</h4></div>
</div>
<!-- <div class="text"><p >A pull workout is a strength training exercise that focuses on the upper body muscles used for pulling, curling, and rowing motions. Pull exercises involve a concentric contraction, which is when a muscle shortens while moving two connection points closer together.</p>
</div> -->

</body>