<app-sidebar></app-sidebar>
<body>
    <div class="upper">
        <img src="assets/file (4).png" class="back" routerLink="/view-workout">
            <p class="wish">Push Workout</p>
        </div>
        <div class="content">
            <div class="left"  (click)="getinfochest()" ><img src="assets/file (7).png" alt="pull-pic" class="pull_pic"><h4 id="labels">Chest fly</h4></div>
            <div class="right" (click)="getinfo()" ><img src="assets/file (8).png" alt="pull-pic" class="pull_pic"><h4 id="labels">Overhead Press</h4></div>
            </div>
</body>