body
{
    padding-left:20px;
    padding-bottom:30px;
    overflow: hidden;
}

.upper
{
    display: flex;
    align-items: center;
}
.back
{
    height: 30px;
    margin-top:15px;
}

.wish
{
    margin-left:20px;
    font-size:25px ;
    font-weight:600;
}

.content
{
    display: flex;
    margin-left:7%;
    margin-top:5%;
    align-items: center;
}

.left
{

    background-color: #5249cf;
    height:350px;
    width:30%;
    border-radius: 23px;
    box-shadow: 2px 2px 5px #000000c3;
    display: flex;
    justify-content: center;
}

.left:hover
{
    background-color: #6a63ce;
    
}

.right
{
    margin-left:70px;
    background-color: #d9d9d9;
    height:350px;
    width:30%;
    border-radius: 23px;
    box-shadow: 2px 2px 5px #000000c3;
    display: flex;
    justify-content: center;
}

.right:hover{
    background-color: #f5f54a;
}




#labels
{
    color:white;
    font-weight: 700;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align:center;
    font-size:40px;
    position: relative;
    bottom: 350px;
}

.left #labels
{
    position: relative;
    top:0px;
    right:200px;
}

.right #labels
{
    position: relative;
    top:0px;
    left:-180px;
}

.left .pull_pic
{
    height:230px;
    position: relative;
    bottom:-85px;
    left:50px;
}

.right .pull_pic
{
    position: relative;
    bottom:-10px;
    right:-50px;
    height:340px;
}