<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var source = new EventSource("http://127.0.0.1:8000/api/video");
            source.onmessage = function(event) {
                var img = document.getElementById("video_frame");
                img.src = "data:image/jpeg;base64," + btoa(event.data);
            };
        });
    </script>
</head>
<body>
    <img id="video_frame" alt="Video Stream" />
</body>
</html>