<app-sidebar></app-sidebar>
<body>
    <div class="upper">
        <img src="assets/file (4).png" class="back" routerLink="/Dashboard">
            <p class="wish">Choose your Workout</p>
        </div>
<div>
<div class="pull" routerLink="/Pull">
    <p class="pull-content">Pull</p>
    <img src="assets/file (2).png" alt="pull-pic" class="pull_pic">
</div><br>
<div class="push" routerLink="/Push">
    
    <img src="assets/file (1).png" alt="push-pic" class="push_pic">
    <p class="pull-content">Push</p>
   
</div><br>
<div class="legs" routerLink="/Legs">
    <p class="legs-content">Legs</p>
    <img src="assets/file (3).png" alt="legs-pic" class="legs_pic">

</div>
</div>


</body>

