
<body>
    <div class="upper">
        <img src="assets/file (4).png" class="back" routerLink="/Dashboard">
        <p class="wish">Cool-Down</p>
    </div>
        <div class="content">
            <iframe width="760" height="415" id="vid" src="https://www.youtube.com/embed/Qy3U09CnELI?si=h9e4zSTJow4ImM2V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="text">
                <p>Cooling down after your workout lets the heart rate and blood pressure slowly recover to preexercise levels. It may be most important for competitive endurance athletes, such as marathoners, to cool down to help control blood flow. Cooling down doesn't seem to help reduce muscle stiffness and soreness after exercise, but more research is needed.</p>

            </div>
        </div>
    
</body>
<app-sidebar>
    