<app-sidebar></app-sidebar>
<body>
<p class="wish">{{greeting}} {{ name}} Welcome back <br></p>


  
<div class="first-row">
<div class="view-workout">
    <button routerLink="/view-workout">View Workout</button>
</div>
<div class="weight-cal" id="weight">
    <!-- <p class="ps"></p> -->
    <p class="ps">{{weight}}</p>
    <p>Weight</p>
</div>
<div class="weight-cal" id="cal">
    <p class="ps">- 1300</p>
    <p>Calories</p>
</div>
</div>

<p class="wish">Today's Workout</p>

<div class="second-row">
    <div class="displays" *ngIf="workoutType">
        <h4>{{workoutType}}</h4>
    </div>

    <div class="run-cycle" id="run">
     <h4>Run</h4>
     <h5>10 mins</h5>
    </div>
    <div class="run-cycle" id="cycle">
        <h4>Cycling </h4>
        <h6>10 mins</h6>
    </div>
</div>

<div class="third-row">
    <div class="warm-up" id="warm" routerLink="/Warmup">
        <h4>Warm-Up</h4></div>
    <div class="warm-up" id="warm" routerLink="/Coolup">
        <h4>Cool-Down</h4>
    </div>
</div>
</body>